{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<div class="login">
    <form action="" method="post">
    <img src="{{url_for('static',filename='logo/userlogo.png')}}" class="userlogo">
        <div class="control-group">
            <h2 class="logintitle">{% block title %}Login{% endblock %}</h2>
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" id="username" placeholder="Enter Username"/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="Enter Password"/>
        </div>
        <button class="btn btn-block mybtn-login">Login</button>
        <div class="form-group">
            <a href="#" class="forgetpass-login">forget password</a>               
        </div>
    </form>
</div>
{% endblock %}
