{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<div class="login">
    <img src="{{url_for('static',filename='logo/userlogo.png')}}" class="userlogo">
    <form action="" method="post">
        <div class="control-group">
            <h1 class="title-login">{% block title %}Login{% endblock %}</h1>
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" id="username" placeholder="Enter Username" required />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="Enter Password" required />
        </div>
        <button class="btn btn-primary btn-block">Login</button>
    </form>
</div>
{% endblock %}
