/*Configuracion de Style para la pagina web*/
/*Agregamos las funtes que se utilizaran para la pagina web*/
@font-face{
    font-family: "Alata";
    src: url('fonts/Alata/Alata-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    background:url('background/imgConstruccion.jpg');
    background-size: cover;
    font-family: "Alata";
}

/*config login-begin*/
.login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 420px;
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(0,0,0,.5);
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.logintitle{
    margin: 0;
    padding: 0 0 20px;
    color: gold;
    font-family: "Alata";
    font-weight: bold;
    text-align: center;
}

.userlogo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: calc(-100px / 2);
    left: calc(50% - 50px);
}

.login label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: white;
}

.login input{
    width: 100%;
    margin-bottom: 20px;
}

::placeholder{
    color: rgba(255,255,255,0.5);
}

.login .mybtn-login{
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    color: #fff;
    background: #FF7058;
    cursor: pointer;
}

.login .mybtn-login:hover{
    background: #0d6efd;
    color: #262626;
}

.forgetpass-login{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

/*config login-end*/
