<!DOCTYPE html>
  <title>Physical Inventory | {%block title%}{%endblock%}</title>
  <link rel="stylesheet" href="{{url_for('static',filename='bootstrap.min.css')}}"/>
  <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}"/>
  <script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>
  <!-- Navegador de Barra-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Physical Inventory</a>
    
    <ul class="nav">
      {% if g.user %} 
      <li class="nav-item">{{g.user['username']}}</li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('auth.logout')}}">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link text-secondary" href="{{url_for('auth.register')}}">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" href="{{url_for('auth.login')}}">Login</a>
      </li>
      {% endif %}

    </ul>
  </nav>

  <!-- section de content-->
  <section class="content">
    <header>
      {%block header%}{%endblock%}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="message_wrapper">
      <div class="message_backdrop"></div>
      <div class="message_inner">
        <div class="message_item">
          <div class="icon">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle-fill" fill="currentColor">
              <path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
            </svg>
          </div>
          <div class="data">
            <p class="title">
              {{message}}
            </p>
          </div>
          <div class="icon close"></div>
        </div>
      </div>
    </div>
    
    {% endfor %}
    <div>
      {%block content%}{%endblock%}
    </div>
  </section>
</html>
